
body {
    border: 0px;
    margin: 0px;
}

#main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#steppers {
    flex: 1;
}

#renderer {
    flex: 1;
    flex-direction: column;
    width: 100%;
    min-height: 0px;
    height: 0px;
    background-color: #E5ECF6;
    --buildplate-color: #1f77b4;
}

#renderer:focus {
    outline: none;
}

#renderer > canvas {
    height: 100%;
    width: 100%;
}

#renderer > canvas:focus {
    outline: none;
}

.tab-parent {
    min-height: 100vh;
}

.tab-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    margin: 2px;
}

.tab-button {
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

.tab-button-active {
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

.tab-button-inactive {
}

.tab-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tab-content-active {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tab-content-inactive {
    display: none;
}