#steppers {
    height: 100vh
}

#renderer_container {
    height: 100vh
}

#renderer_instructions {
    height: 50px
}

#renderer {
    height: calc(100vh - 50px);
    background-color: #E5ECF6;
    --buildplate-color: #1f77b4;
}